# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Databases & Vector Stores
database/matrica.db
chromadb/

# Node & Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store

# Data (Optional: uncomment to ignore large data files if pushing to GitHub)
# data/raw/
# data/silver/
# data/gold/
